.mat-card {
  background: aliceblue;
  margin: 10px;
  width: 30%;
  height: 135px;
  float: left;
}

.mat-card .offer-card {
  background: gray;
  margin: 10px;
  max-width: 80%;
  height: 18px;
}

.example-icon{
  float: right;
}
